@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

/* css style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #b90415;
    --primary-color-hover: #d3071b;
    --secondary-color: #103063;
    --secondary-color-hover: #143f85;
    --light-color: #f4f4f4;
}

body {
    font-family: "PT Sans", sans-serif;
    background: #252929;
    color: #fff;
    line-height: 1.6;
}


/* utility classes */

img {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}


/* btn classes */

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

.btn-primary {
    background: var(--primary-color);
}

.btn-primary:hover {
    background: var(--primary-color-hover);
}

.btn-secondary {
    background: var(--secondary-color);
    text-transform: capitalize;
    font-size: 0.9rem;
    margin: 0.6rem 0 0 0;
}

.btn-secondary:hover {
    background: var(--secondary-color-hover);
}


/* text classes */

.light-text {
    font-size: 0.8rem;
    color: var(--light-color);
}


/* showcase */

.showcase {
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    height: 100vh;
}

.showcase h1 {
    font-size: 3.5rem;
    margin-top: 25vh;
}

.showcase h2 {
    font-size: 1.8rem;
}

.showcase p {
    font-size: 1.1rem;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 2rem 4rem;
    text-align: center;
}


/* music */

.music h2 {
    margin-bottom: 1rem;
}

.music h3 {
    margin-bottom: 1rem;
}


/* video */

.video {
    background: var(--light-color);
    color: #333;
}

.video h3,
.entertainment h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}


/* entertainment */

.entertainment {
    background: url("../img/section-bg.jpg") no-repeat center center/cover;
    padding: 2rem 0;
}


/* gift-cards */

.gift-cards {
    background: var(--light-color);
    color: #333;
}

.gift-cards .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
}

.gift-text {
    text-align: left;
}

.gift-text h2,
.gift-text p {
    margin-bottom: 1rem;
}

.last-line {
    margin-bottom: -1.5rem;
}

.gift-text hr {
    margin-top: 0.5rem;
}

.gift-text i {
    margin-right: 1fr;
}


/* footer */

footer {
    background: black;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

.footer-link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    text-align: left;
}

.footer-link li:first-child {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444;
}

.copyright {
    text-align: center;
    padding: 0.5rem;
}


/* Responsive nav */

nav {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #eee;
    position: fixed;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    /* float: left; */
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
}

nav li:hover {
    background-color: #444;
}

nav a#openup {
    display: none;
}

@media screen and (max-width: 550px) {
    nav {
        height: auto;
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav li {
        width: 100%;
        float: left;
        position: relative;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: #333;
        border-bottom: 1px solid #555;
    }
    nav a:hover {
        background: #444;
    }
    nav a#openup:after {
        content: "|||";
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        /* IE 9 */
        -webkit-transform: rotate(-90deg);
        /* Safari and Chrome */
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;
    }
    nav a#openup {
        display: block;
        background-color: #333;
        width: 100%;
        position: relative;
    }
    .hide-on-small {
        display: none;
    }
    .showcase {
        height: 50vh;
    }
    .showcase h1 {
        font-size: 2rem;
        margin-top: 13vh;
    }
    .showcase h2 {
        font-size: 1.2rem;
    }
    .container {
        padding: 2rem;
    }
    .showcase .container {
        padding: 2rem 1rem;
    }
    .gift-cards .container {
        grid-template-columns: 1fr;
    }
    .footer-link {
        grid-template-columns: repeat(2, 1fr);
    }
    .copyright {
        font-size: 0.8rem;
    }
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

@media (max-height: 480px) {
    .showcase {
        height: 100vh;
    }
    .showcase .container {
        padding: 2rem 4rem;
    }
    .showcase h1 {
        margin-top: 28vh;
    }
    .hide-on-height {
        display: none;
    }
    .container {
        padding: 2rem 4rem;
    }
}


/* For IE 6/7 (trigger hasLayout) */